# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Calculate.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Programming\2021_06_06_WPF\Calculate\.idea\.idea.Calculate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
